<div *ngIf="employee" class="content-form">
    <h2>{{ employee.firstName }}</h2>
    <div>
        First Name:
        <input [(ngModel)]="employee.firstName" placeholder="First Name" maxlength="15" required/>
    </div>
    <div>
        Last Name:
        <input [(ngModel)]="employee.lastName" placeholder="Last Name" maxlength="15" required/>
    </div>
    <div>
        Date of Birth:
        <!--<input type="text" placeholder="yyyy-MM-dd" [value]="employee.doB | date: 'yyyy-MM-dd'"/>-->
        <input type="date" [(ngModel)]="employee.doB" placeholder="yyyy-MM-dd"/>
    </div>
    <div>
        Email:
        <input [(ngModel)]="employee.email" placeholder="example@email.com" maxlength="100" required/>
    </div>
    <div>
        Skill Level:
        <!--<input [(ngModel)]="employee.skillLevel.id" placeholder="Skill Level"/>-->
          <label for="1">1</label>
          <input [(ngModel)]="employee.skillLevel.id" type="radio" id="1" value="1" name="1" checked/>
        |
          <label for="2">2</label>
          <input [(ngModel)]="employee.skillLevel.id" type="radio" id="2" value="2" name="2"/>
        |
          <label for="3">3</label>
          <input [(ngModel)]="employee.skillLevel.id" type="radio" id="3" value="3" name="3"/>
    </div>
    <div>
        Active:
        <input type="checkbox" [(ngModel)]="employee.active"/>
    </div>

    <button (click)="updateEmployee(employee)" *ngIf="employee.id">Update</button>
    <button (click)="deleteEmployee(employee)" *ngIf="employee.id" onclick="window.location.reload();">Delete</button>
    <!--
    <button (click)="deleteEmployee(employee)" *ngIf="employee.id">Delete</button>
    -->
    <button (click)="createEmployee(employee)" *ngIf="!employee.id" onclick='$(content-form).hide()'>Create</button>
    
</div>