<!--
<div class="header">
  <p>CRUD Project - Onurcan Onder</p>
</div>
-->
<div class="main-elements">
  <div *ngIf="error">
    <div class="alter-container">
      <div class="error-message">{{"The username or password is incorrect."}}</div>
    </div>
  </div>

  <div class="login-elements">
    <img src="../assets/KaseyaLogoSmall.png" alt="KaseyaLogo">
    <div class="username">
      <input class="textbox" [(ngModel)]="user.username" placeholder="Name">
    </div>
    <div class="password">
      <input class="textbox" [(ngModel)]="user.password" placeholder="Password" type="password">
    </div>
    <div class="login-button">
      <button (click)="login(user)">Login</button>
    </div>
  </div>
</div>